.container {
width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #5D5FEF;
}

.head {
  background-color: #444655;
  height: 80px;
}

.body{
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-top: 1em;
  
  text-align-last: left;
  height: 100px;
  color: #fff;

}

.letterHeader{
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    padding-left: 0.5em;
    color: #fff;
}

.letterEntry{
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    padding-left: 0.5em;
    color: #fff;
}


.itemList{
    background-color: white;
    height: calc(95vh - 180px);
    padding-top: 1em;
}

.itemTemplate{
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 1em;
}

.itemOrig{
  font-style: italic;
}

.itemTranslated{
 font-weight: 500;
 font-size: 30px;
}

.itemExample{
  font-size: 20px;
  color:indianred;
  white-space: break-spaces;
}